@page "/photos"
<body data-page="photos">
    <link rel="stylesheet" href="css/styles.css?v=@DateTime.Now.Ticks" />
    <audio id="bg-audio" autoplay loop>
        <source src="/audio/tekrardan.mp3" type="audio/mpeg">
    </audio>


    <div class="container">
        <h1>📸 Photo Gallery 📸</h1>

        <div class="add-item">
            <input type="file" id="photoFileInput" />
            <button id="photoUploadBtn" class="button btn-pink">Upload</button>
        </div>

        <div class="list-container" id="photoContainer"></div>

        <div class="mt-4">
            <a class="button btn-pink" href="/">Back to Home</a>
        </div>
    </div>

    <script src="js/photos.js" defer></script>
    <script type="module" src="js/app-init.js" defer></script>
</body>
